
@media (min-width: 640px) {
  /* General Body Settings */
body {
  background-color: rgb(255, 0, 0);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ff4e05;
  --secondary-color-dark: #bf3900;
  --secondary-color-blue: rgb(101, 232, 255);
  --text-dark: #13171b;
  --text-light: #dbdbdb;
  --white: #ffffff;
  --max-width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  background-color: #000000;
  border-radius: 50px;
}

.about__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about__title span {
  color: var(--secondary-color);
}

.about__subtitle {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

/* Education Section */
.education {
  background-color: rgb(18, 17, 17);
  padding: 50px 0;
  border-radius: 50px;
  margin-top: 1px;
}

.education__container {
  text-align: center;
  padding: 0 50px;
}

.education__title span {
  color: var(--secondary-color);
}

.education__title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.education__flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.education__flex > div {
  background-color: #312f2f;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  min-width: 280px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
}

.education__flex > div h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.education__flex > div p {
  font-size: 16px;
  line-height: 1.8;
}

.education__flex > div strong {
  font-weight: bold;
}

.education__flex span {
  color: rgb(0, 255, 242);
}

/* Certification Section */
.certification {
  background-color: rgb(18, 17, 17);
  padding: 50px 0;
  border-radius: 50px;
  margin-top: 1px;
}

.certification__container {
  text-align: center;
  padding: 0 50px;
}

.certification__title span {
  color: var(--secondary-color);
}

.certification__title {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.certification__flex {
  display: flex;
  margin: 50px auto;
}

.CCNA__code {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  border: none;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 250px;
  padding: 15px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
}

.ccna {
  display: flex;
  margin: auto;
  width: 40%;
  font-size: 19px;
}

.ccna__img {
  width: 530px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 150px;
}

/* Experience Section */
.experience {
  background-color: rgb(18, 17, 17);
  padding: 50px 0;
  border-radius: 50px;
  margin-top: 1px;
}

.experience__container {
  text-align: center;
  padding: 0 50px;
  margin-top: 30px;
}

.experience__company {
  margin-top: 70px;
}

.experience__title span {
  color: var(--secondary-color);
}

.experience__title {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.experience__companyflex {
  display: flex;
  justify-content: space-between;
}

.experience__companyname {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  border: none;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 620px;
  padding: 15px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
}

.experience__companydate {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 320px;
  padding: 15px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
}

.company__about {
  margin: 110px 50px;
  width: 410px;
  font-size: 20px;
  box-sizing: border-box;
}

.imgflex {
  display: flex;
  gap: 50%;
}

.imglogo {
  margin-top: 50px;
  width: 180px;
}

.company__about span {
  color: var(--secondary-color);
  padding: 1px;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.company__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.companyaboutflex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.titleflex {
  margin-right: 19%;
}

.title-container {
  width: 73%;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 20px;
  background-color: var(--secondary-color-dark);
  border-radius: 20px;
  padding: 20px 10px;
  font-size: larger;
}

.routers1 {
  display: flex;
  margin: 10px;
  gap: 20px;
}

.routers2 {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.niradrouter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 250px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #524f4f;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fc8038fc;
}

.niradrouter img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.niradrouter h2 {
  width: 270px;
  margin-top: 2px;
  background-color: var(--primary-color);
  font-size: 1.25em;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 4px;
}

/* Professional Experience */
.Professional {
  background-color: rgb(18, 17, 17);
  padding: 50px 0;
  border-radius: 50px;
  margin-top: 1px;
}

.Professional__container {
  text-align: center;
  padding: 0 50px;
}

.Professional__title span {
  color: var(--secondary-color);
}

.Professional__title {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.Professional__flex {
  display: flex;
  margin: 50px;
  font-size: 17px;
  width: 97%;
}

.NTE {
  width: 100%;
  margin-right: 90px;
}

.NTE strong {
  font-weight: lighter;
  font-size: 20px;
}

.NTE ul strong {
  color: var(--secondary-color-blue);
  font-size: 17px;
}

.Professional__role {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  border: none;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 400px;
  padding: 15px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
}

.Professional__role span {
  color: var(--secondary-color);
}

.myrole {
  color: var(--secondary-color);
  border: 1px solid rgb(147, 144, 144);
  padding: 9px 18px;
  border-radius: 30px;
  font-size: larger;
}

.Professional__clients {
  display: flex;
  border-radius: 50px;
  outline: 1px solid rgb(32, 32, 31);
  padding: 2px;
}

.clients__img {
  height: 90px;
  display: flexbox;
  margin-left: 30px;
  padding: 20px;
}

/* Skills Section */
.skills__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
}

.skills__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.skills__title span {
  color: var(--secondary-color);
}

.skills,
footer {
  background-color: rgb(18, 17, 17);
  border-radius: 88px;
  margin-top: 1px;
}

.skills__known {
  margin-left: 50px;
  display: flex;
}

.skills-category {
  margin: 20px;
  margin-left: 30px;
  font-size: 17px;
  margin-right: 70px;
}

.skills-category h3 {
  outline: 1px solid var(--secondary-color);
  width: 280px;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px;
}

.skills-category li {
  font-size: 19px;
}

.skills-category strong {
  color: var(--secondary-color-blue);
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  margin-top: 2px;
}

footer p {
  font-size: 15px;
  margin: 0;
}

/* Fixed Button Styling */
#mainPageButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #050505;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.931);
}

#mainPageButton:hover {
  background-color: #ff5e00;
}

}







/* For Mobile Screen */







@media (max-width: 639px) {
  body {
    background-color: rgb(255, 0, 0);
    color: var(--white);
    font-family: "Poppins", sans-serif;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  
  :root {
    --primary-color: #000000;
    --secondary-color: #ff4e05;
    --secondary-color-dark: #bf3900;
    --secondary-color-blue: rgb(101, 232, 255);
    --text-dark: #13171b;
    --text-light: #dbdbdb;
    --white: #ffffff;
    --max-width: 100%;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .about__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    background-color: #000000;
    border-radius: 50px;
  }
  
  .about__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  
  .about__title span {
    color: var(--secondary-color);
  }
  
  .about__subtitle {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }
  
  .education {
    background-color: rgb(18, 17, 17);
    padding: 50px 0;
    border-radius: 50px;
    margin-top: 1px;
  }
  
  .education__container {
    text-align: center;
    padding: 0 50px;
  }
  
  .education__title span {
    color: var(--secondary-color);
  }
  
  .education__title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .education__flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .education__flex > div {
    background-color: #312f2f;
    color: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
  }
  
  .education__flex > div h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .education__flex > div p {
    font-size: 16px;
    line-height: 1.8;
  }
  
  .education__flex > div strong {
    font-weight: bold;
  }
  
  .education__flex span {
    color: rgb(0, 255, 242);
  }
  
  .certification {
    background-color: rgb(18, 17, 17);
    padding: 50px 0;
    border-radius: 50px;
    margin-top: 1px;
  }
  
  .certification__container {
    text-align: center;
    padding: 0 50px;
  }
  
  .certification__title span {
    color: var(--secondary-color);
  }
  
  .certification__title {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .certification__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  
  .CCNA__code {
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
    border: none;
    border: 1px solid var(--secondary-color);
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
  }
  
  .ccna {
    display: flex;
    margin: auto;
    width: 80%;
    font-size: 17px;
  }
  
  .ccna__img {
    width: 100%;
    max-width: 530px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: 0;
    margin-top: 50px;
    padding: 3px;
  }
  
  .experience {
    background-color: rgb(18, 17, 17);
    padding: 50px 0;
    border-radius: 50px;
    margin-top: 1px;
  }
  
  .experience__container {
    text-align: center;
    padding: 0 50px;
    margin-top: 30px;
  }
  
  .experience__company {
    margin-top: 70px;
  }
  
  .experience__title span {
    color: var(--secondary-color);
  }
  
  .experience__title {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .experience__companyflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .experience__companyname {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    border: none;
    border: 1px solid var(--secondary-color);
    height: 100%;
    width: 620px;
    padding: 15px 15px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .experience__companydate {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    border: 1px solid var(--secondary-color);
    height: 100%;
    /* width: 250px; */
    padding: 15px 15px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 11px;
  }
  
  .company__about {
    margin: 30px 50px;
    width: 90%;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  .imgflex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .imglogo {
    margin-top: 50px;
    width: 140px;
  }
  
  .company__about span {
    color: var(--secondary-color);
    padding: 1px;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  
  .company__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .companyaboutflex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .titleflex {
    margin-right: 19%;
  }
  
  .title-container {
    width: 73%;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: var(--secondary-color-dark);
    border-radius: 20px;
    padding: 20px 10px;
    font-size: larger;
  }
  
  .routers1 {
    display: flex;
    margin: 10px;
    gap: 20px;
  }
  
  .routers2 {
    display: flex;
    margin: 20px;
    gap: 20px;
  }
  
  .niradrouter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #524f4f;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fc8038fc;
  }
  
  .niradrouter img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .niradrouter h2 {
    width: 270px;
    margin-top: 2px;
    background-color: var(--primary-color);
    font-size: 1.25em;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 4px;
  }
  
  .Professional {
    background-color: rgb(18, 17, 17);
    padding: 50px 0;
    border-radius: 50px;
    margin-top: 1px;
  }
  
  .Professional__container {
    text-align: center;
    padding: 0 50px;
  }
  
  .Professional__title span {
    color: var(--secondary-color);
  }
  
  .Professional__title {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .Professional__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
  }
  
  .NTE {
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .NTE strong {
    font-weight: lighter;
    font-size: 20px;
  }
  
  .NTE ul strong {
    color: var(--secondary-color-blue);
    font-size: 17px;
  }
  
  .Professional__role {
    display: flex;
    justify-content: center;
    border: none;
    border: 1px solid var(--secondary-color);
    height: 100%;
    width: 100%;
    max-width: 500px;
    padding: 15px 15px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
  }
  
  .Professional__role span {
    color: var(--secondary-color);
  }
  
  .myrole {
    color: var(--secondary-color);
    border: 1px solid rgb(147, 144, 144);
    padding: 9px 18px;
    border-radius: 30px;
    font-size: larger;
    margin-left: 10px;
  }
  
  .Professional__clients {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .clients__img {
    height: 90px;
    margin-left: 30px;
    padding: 20px;
  }
  
  .position-title {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
  }
  
  
  .clients__img {
    height: 90px;
    margin-left: 30px;
    padding: 20px;
  }
  
  .skills__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  
  .skills__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  
  .skills__title span {
    color: var(--secondary-color);
  }
  
  .skills,
  footer {
    background-color: rgb(18, 17, 17);
    border-radius: 88px;
    margin-top: 1px;
  }
  
  .skills__known {
    /* margin-bottom: 100px; */
    padding: 50px;
    display: flex;
    flex-wrap: wrap; 
  }
  
  .skills-category {
    /* margin: 20px; */
    /* margin-left: 30px; */
    font-size: 13px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box; 
  }
  
  .skills-category h3 {
    outline: 1px solid var(--secondary-color);
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .skills-category li {
    font-size: 18px;
    word-wrap: break-word;
  }
  
  .skills-category strong {
    color: var(--secondary-color-blue);
  }
  
  @media (max-width: 639px) {
    .skills__container {
      padding: 1rem; /* Reduce padding for smaller screens */
    }
  
    .skills-category {
      margin-right: 0;
    }
  
    .skills-category h3 {
      width: 100%;
      margin: 10px 0;
    }
  
    .skills-category li {
      font-size: 16px;
    }
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-top: 2px;
  }
  
  footer p {
    font-size: 15px;
    margin: 0;
  }
  
  #mainPageButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #050505;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.931);
  }
  
  #mainPageButton:hover {
    background-color: #ff5e00;
  }
  
  @media (max-width: 768px) {
    .imglogo {
      width: 120px;
    }
  
    .imgflex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    .niradrouter img {
      max-width: 100%;
      height: auto;
    }
  
    .skills-category h3 {
      width: 100%;
      text-align: center;
    }
  
    .routers1,
    .routers2 {
      flex-direction: column;
      gap: 20px;
    }
  
    .clients__img {
      height: 60px;
      width: auto;
    }


  }
  
}


.Professional__clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__img {
  max-width: 200px; /* Set a max width for the images */
  height: auto;
  margin: 10px;
  flex: 1 1 auto; /* Change to auto for better sizing */
}

@media (max-width: 639px) {
  .clients__img {
      width: 100px; /* Smaller images on smaller screens */
      flex: 1 1 100%;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .clients__img {
      width: 150px; /* Adjust width for medium screens */
      flex: 1 1 48%;
  }
}

.skills__known {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.skills-category {
  flex: 1 1 300px;
  margin: 10px;
  padding: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

@media (max-width: 639px) {
  .skills-category {
      flex: 1 1 100%;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .skills-category {
      flex: 1 1 48%;
  }
}


